<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.fuckhome.xiaowine">

    <application
            android:icon="@mipmap/ic_launcher"
            android:label="@string/AppName"
            android:roundIcon="@mipmap/ic_launcher">

        <activity
                android:name=".activity.SettingsActivity"
                android:exported="true"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="miui.cn.fkj233.xposed.statusbarlyric.SettingsFragment"/>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS"/>
            </intent-filter>
        </activity>
        <activity-alias
                android:name=".launcher"
                android:enabled="true"
                android:exported="true"
                android:targetActivity=".activity.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <meta-data
                android:name="xposedsharedprefs"
                android:value="true"/>
        <meta-data
                android:name="xposedmodule"
                android:value="true"/>
        <meta-data
                android:name="xposedminversion"
                android:value="93"/>
        <meta-data
                android:name="xposedscope"
                android:resource="@array/xposedscope"/>
        <meta-data
                android:name="xposeddescription"
                android:value="@string/XposedDesc"/>
    </application>

</manifest>